{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Upload Company Details</title>
</head>
<body>
  <h2>Upload Company Details</h2>

  <form action="{% url 'upload_company_details' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="company_id">Company ID:</label>
    <input type="text" id="company_id" name="company_id" required /><br /><br />

    <label for="name">Company Name:</label>
    <input type="text" id="name" name="name" required /><br /><br />

    <label for="type_of_company">Type of Company:</label>
    <input type="text" id="type_of_company" name="type_of_company" /><br /><br />

    <label for="eligible_branch">Eligible Core Branches:</label>
    <input type="text" id="eligible_core_branch" name="eligible_core_branch" /><br /><br />
    
    <label for="eligible_branch">Eligible Non-Core Branches:</label>
    <input type="text" id="eligible_non_core_branch" name="eligible_non_core_branch" /><br /><br />

    <label for="type_of_job">Type of Job:</label>
    <input type="text" id="type_of_job" name="type_of_job" /><br /><br />

    <label for="job_profile">Job Profile:</label>
    <input type="text" id="job_profile" name="job_profile" /><br /><br />

    <label for="job_offer">Job Offer:</label>
    <input type="text" id="job_offer" name="job_offer" /><br /><br />

    <label for="max_package_offered">Max Package Offered:</label>
    <input type="text" id="max_package_offered" name="max_package_offered" /><br /><br />

    <label for="eligible_passouts">Eligible Passouts:</label>
    <input type="text" id="eligible_passouts" name="eligible_passouts" /><br /><br />

    <label for="hr_contact_details">HR Contact Details:</label>
    <input type="text" id="hr_contact_details" name="hr_contact_details" /><br /><br />

    <label for="google_form_link">Google Form Link (optional):</label>
    <input type="url" id="google_form_link" name="google_form_link" /><br /><br />

    <label for="brochure">Upload Brochure (PDF) (optional):</label>
    <input type="file" id="brochure" name="brochure" accept="application/pdf" /><br /><br />

    <button type="submit">Upload Company Details</button>
  </form>
  <h3>Upload CSV/Excel File</h3>
  <form action="{% url 'upload_company_details_bulk' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="bulk_file">Choose CSV or Excel file:</label>
    <input type="file" id="bulk_file" name="bulk_file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required><br><br>
    <button type="submit">Upload</button>
  </form>
  <p>If in case, you want the template .CSV file → <a href= "{% url 'download_company_table_template' %}">click here to download</a></p>

</body>
</html>
